* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  font-family: 'usual', sans-serif;
}
